In [8]:
import pandas as pcs
Budget
dataframe=pcs.read_csv("C://Users//ramna//file//DataFrame//Budget.csv")
dataframe

         Day Vegetable      Fruits  Price        Date
0     Monday    Potato      Orange     50  02-05-2020
1    Tuesday    Carrot       Apple    195  03-05-2020
2  Wednesday   Brinjal   Jackfruit     37  04-05-2020
3   Thursday     Beans      Banana     25  05-05-2020
4     Friday    Tomato      Papaya     46  06-05-2020
5   Saturday    Onions  Pomogrante    130  07-05-2020
6     Sunday     Chili      Sapota     60  08-05-2020

In [3]:
dataframe

         Day Vegetable      Fruits  Price        Date
0     Monday    Potato      Orange     50  02-05-2020
1    Tuesday    Carrot       Apple    195  03-05-2020
2  Wednesday   Brinjal   Jackfruit     37  04-05-2020
3   Thursday     Beans      Banana     25  05-05-2020
4     Friday    Tomato      Papaya     46  06-05-2020
5   Saturday    Onions  Pomogrante    130  07-05-2020
6     Sunday     Chili      Sapota     60  08-05-2020